@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #00CBAD;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$success: #00CBAD;
$success-invert: findColorInvert($primary);
$success-light: findLightColor($primary);
$success-dark: findDarkColor($primary);
$success-invert: findColorInvert($primary);


// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
                (
                        "white": (
                                $white,
                                $black,
                        ),
                        "black": (
                                $black,
                                $white,
                        ),
                        "light": (
                                $light,
                                $light-invert,
                        ),
                        "dark": (
                                $dark,
                                $dark-invert,
                        ),
                        "primary": (
                                $primary,
                                $primary-invert,
                                $primary-light,
                                $primary-dark,
                        ),
                        "link": (
                                $link,
                                $link-invert,
                                $link-light,
                                $link-dark,
                        ),
                        "info": (
                                $info,
                                $info-invert,
                                $info-light,
                                $info-dark,
                        ),
                        "success": (
                                $success,
                                $success-invert,
                                $success-light,
                                $success-dark,
                        ),
                        "warning": (
                                $warning,
                                $warning-invert,
                                $warning-light,
                                $warning-dark,
                        ),
                        "danger": (
                                $danger,
                                $danger-invert,
                                $danger-light,
                                $danger-dark,
                        ),
                ),
                $custom-colors
);


@import "~bulma";
@import "~buefy/src/scss/buefy";

.control.input-fullwidth.is-clearfix {
  flex-grow: 1;
}
.input-fullwidth {
  input {
    width: 100%;
  }
}

.modal-background {
  background: rgba(30, 30, 30, 0.7);
  //display: none;
}
.modal .animation-content {
  position: relative;
  z-index: 1;
}

.is-large.delete, .is-large.modal-close {
  display: none;
}
